
<div class = "cell" [ngClass]="{'is-selected': status.isSelected,
                                'is-unavailable': status.isSoled || 
                                                  status.isReserved || 
                                                  status.inReserving}"
     (click)='OnClick()'>
     
  <i  [ngClass]="{'fa': !status.isFree, 
                 'fa-clock-o': status.inReserving, 
                 'fa-male': status.isReserved && !status.inReserving,
                 'fa-street-view': status.isSoled && !status.inReserving,
                 'fa-angle-down': status.isSelected,
                 'is-selected': status.isSelected
                }"
                 >
  </i>
  <i *ngIf="!(status.isSoled || status.isReserved || status.inReserving)">{{ chairID }}</i>

</div>  

