.cell {
    width: 100%;
    margin: 0px;
    padding: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 28px;
}

.align-left-top {
    display: inline-block !important;
    text-align: left;
    
    padding: 0px;
    margin: 0px;
}

.align-right-bottom {
    display: inline-block !important;
    text-align: right;
    padding: 0px;
    margin: 0px;
}


.is-selected {
    background: red;
    color: white;
    text-align: center;
}

.is-unavailable {
    background: darkslategrey;
    color: white;
    text-align: center;
}

.small-corner-font {
    letter-spacing : 0px;
    font-weight : bold;
    font-size: 40%;
    text-align : left; 
    color: white;
    padding-right: 1px;
}

.chair-normal-font{
    letter-spacing : 0px;
    font-size: 80%;   
}

.chair-semy-font{
    letter-spacing : 0px;
    font-size: 65%; 
    margin: 0px;
    padding: 0px;    
}