<div  class="container-fluid">
  <div  class="row"> 
    <div *ngIf="movieInfo" class="col" >
      
      <h4 class="movie-header"> {{movieInfo.title}} </h4>
      <p>Формат :
          <span class="movie-format">{{movieInfo.format}}</span> 
      </p>
      
      <p *ngIf="movieInfo.duration">Время :
        <span class="movie-duration" >{{movieInfo.duration}}</span>
      </p>
     
      <p>
      <span *ngIf="movieInfo.genre" class="movie-genre">{{movieInfo.genre}}</span>
      </p>  

    </div> 
    <div *ngIf="!movieInfo" class="col" >
      Не выбран фильм.
    </div>
  </div>
</div>
