
<!--<app-loggin (loggOn) = "loggOnTrigger($event)"></app-loggin> 
событие использовалось для запуска обновления токена -перенесли в сервис-->

<div class="container-fluid unprintable">
    <div class="row">
        <div class="col">
            <nav class="navbar-nav navbar-expand-sm navbar-dark bg-dark">
                <a class="navbar-brand" href="#">Victory</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" routerLink = "">Login <span class="sr-only">(current)</span></a>
                        <a class="nav-item nav-link" routerLink = "">Logout</a>
                        <a class="nav-item nav-link" routerLink = "Hall">Hall</a>
                    </div>
                    
                </div>
                
                <span id="loggDataText"
                      class="navbar-text"
                      [ngClass]="{'indicator-danger' : currentBackEndName=='Nothing',
                      'indicator-good'    : currentBackEndName=='WEB',
                      'indicator-warning' : currentBackEndName=='1C'}">
                    logged as {{currentUserName}} on {{ currentBackEndName }}
                </span>
                
                
            </nav>
        </div>
    </div>
    <div class="row indicator-row">
        <div class="col indicator-col"
         [ngClass]="{'indicator-danger' : currentBackEndName=='Nothing',
                    'indicator-good'    : currentBackEndName=='WEB',
                    'indicator-warning' : currentBackEndName=='1C'}">
        </div>
    </div>
</div>

<router-outlet></router-outlet>

<!--<app-loggin></app-loggin>-->
<!--<hall></hall>-->



